@{
    ViewData["Title"] = "Translator";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Translator application created by: <a href="https://www.linkedin.com/in/majidrahimpour/" target="_blank">Majid Rahimpour</a>.</p>
    <div>
        <a asp-controller="Translation" asp-action="LeetSpeak" class="btn btn-outline-success">Leet Speak Translator</a>
    </div>

</div>
